-r requirements.txt
-r requirements-test.txt
better_exceptions
black
flake8
flake8-bandit
flake8-bugbear
flake8-debugger
flake8-eradicate
flake8-string-format
iPython
isort
pdbpp
pep8-naming
pip-tools
pre-commit
